<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>
<body>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    
    <!-- Top menu -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" id="siteTitle" href="">Welcome to TYPO3</a>
          <div class="nav-collapse" id="navigationFirstLevelMenu">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Content part -->
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="span3">
        <div id="topMenu">
          <ul>
            <li><a href="#">Change language</a></li>
            <li><a href="#">Customer login</a></li>
          </ul>
        </div>
        <div id="navigationSecondLevel">
          <h2>Second Level Navigation</h2>
          <div id="navigationSecondLevelMenu" class="well sidebar-nav">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/">Page2</a></li>
              <li><a href="/" class="active">Page3</a>
                <ul>
                  <li><a href="/">Page3a</a></li>
                  <li><a href="/">Page3b</a></li>
                  <li><a href="/">Page3c</a></li>
                </ul>
              </li>
              <li><a href="/">Page4</a></li>
              <li class="last"><a href="#">Page5</a></li>
            </ul>
          </div>
          <div id="navigationContent"> </div>
        </div>
        </div>
        <div class="span7"> 
        <div id="main">
          <div id="breadcrumb">
          </div>
          <div id="mainContent">
            <h1>Main content - TYPO3 Introduction Package Template</h1>
            <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            <h2>Header Level 2</h2>
            <ol>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
            </blockquote>
            <h3>Header Level 3</h3>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ul>
            <pre><code>
    #header h1 a { 
    	display: block; 
    	width: 300px; 
    	height: 80px; 
    }
    </code></pre>
          </div>
        </div>
        </div>
        <div class="span2">
        <div id="secondary">
          <div id="secondaryContent">
            <h2>Secondary content</h2>
            <ol>
              <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
              <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
            </blockquote>
          </div>
        </div>
        </div>
      </div>  
      
      <hr />
      
      <footer>
      <div id="footer">
        <h3>Footer</h3>
        <div id="footerContent">
          <ul>
            <li><a href="/">Page3a</a></li>
            <li><a href="/">Page3b</a></li>
            <li class="last"><a href="/">Page3c</a></li>
          </ul>
        </div>
      </div>
      </footer>
      
    
    </div>

</body>
</html>
